.submitButton{
    border:none;
    outline:none;
    color:#ee5283;
    background: transparent;
}
.send-icon{
    font-size: 30px;
    margin-top: 17px;
}
.custom-card{
    background-color: rgb(205 210 213);
    box-shadow: 5px 10px #888888;
    padding:20px;
}
.avail-bal{
    margin-bottom: 25px;
}