<mat-toolbar>
   <mat-toolbar-row class="justify-content-between">
       <button mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
       <div class="row mt-2 ml-auto">
           <ul>
               <li>
                   <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
                    <mat-icon class="user-image-icon">account_circle</mat-icon>
                    Welcome &nbsp;{{ currentUser?.name }}
                    <mat-icon class="ml-1">keyboard_arrow_down</mat-icon> 
                   </button>
                   <mat-menu #menu="matMenu">
                       <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            Logout
                       </button>
                   </mat-menu>
               </li>
           </ul>

       </div>
   </mat-toolbar-row>
</mat-toolbar>